@tailwind base;
@tailwind components;
@tailwind utilities; 

html {
	scroll-behavior: smooth;
}

@keyframes shine {
	0% {
		filter: brightness(1.2) drop-shadow(0 0 6px #fff7) drop-shadow(0 0 12px #f472b6aa);
		background-position: 0% 50%;
	}
	100% {
		filter: brightness(1.5) drop-shadow(0 0 12px #fff) drop-shadow(0 0 24px #818cf8aa);
		background-position: 100% 50%;
	}
}